body,td,th,div,p,label,input
{
	color: #71756b;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}
input, select, #contact_text
{
	color: #777777;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}
a
{
	color: #d35009;
	font-weight: bold;
	text-decoration: underline;
}
a:hover
{
	color: #d35009;
	text-decoration: none;
}
a,button,.button
{
	cursor: pointer;
}
.tool-tip
{
	background: #ffc;
	border: 1px solid #D4D5AA;
	float: left;
	max-width: 200px;
	padding: 5px;
	text-align: left;
}
.tool-title
{
	background: url(../../system/images/selector-arrow.png) no-repeat;
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-top: -15px;
	padding: 0;
	padding-bottom: 5px;
	padding-top: 15px;
}
.tool-text
{
	color: #131f29;
	font-size: 100%;
	margin: 0;
}
.text-sub h4
{
	font-size: 16px;
	padding: 5px 0 19px 0;
	text-transform: capitalize;
}
.text-sub p
{
	padding: 0 0 15px 0!important;
}
.sub-indent-img
{
	padding: 25px 0;
}
.sub-indent-bottom
{
	display: block;
	padding-bottom: 5px;
}
.columns
{
	overflow: hidden;
	padding: 20px 0 0 0;
	width: 100%;
}
.column-left
{
	float: left;
	width: 40%;
}
.column-right
{
	float: right;
	width: 55%;
}
.columns dt
{
	font-weight: bold;
}
.columns dd
{
	padding: 5px 0 9px 0;
}
.alignleft
{
	float: left;
	margin: 0 15px 0 0!important;
}
.pagenavcounter
{
	padding: 11px 0;
}
h6
{
	font: bold 12px Arial,Helvetica,sans-serif;
}
.article-decor
{
	padding: 0px 0px 12px 0px;
}
#contact_text
{
	font-size: 12px;
	height: auto;
	margin: 0px 0px 5px 0px;
	overflow: auto;
	width: 90%;
}
.article-separator-indent
{
	display: none;
	padding: 5px 30px 0 24px;
}
.article_separator
{
	border-top: 1px solid #c2c2c2;
	display: none;
	height: 1px;
}
.column_separator
{
	background: url(../images/content_separator.gif) 0 0 repeat-y;
	padding: 0px 0px 0px 0!important;
}
.article_column
{
	padding: 0px 0px 0px 0px;
}
.article_indent h3
{
	overflow: hidden;
}
.article_indent h3 img
{
	float: left;
	margin: 0px 3px 0px 0px!important;
}
.contentpaneopen ul,.article-indent ul
{
	list-style: disc;
	margin: 0px 0px 0px 15px;
}
.contentpaneopen ul li,.article-indent ul li
{
	padding: 0px 0px 6px 0px;
}
.contentdescription img
{
	margin: 0px 20px 0px 0px;
}
.contentpaneopen img
{
	margin: 0 11px 0px 0px;
}
.contentpaneopen h3 img
{
	margin: 18px 10px 0px 0px;
}
#content .module ul
{
	list-style: none;
	margin: 0;
}
#container ul
{
	list-style: none;
	margin: 0;
}
#container ul li,#content .module ul li
{
	background: url(../images/list_marker.png) 0 2px no-repeat;
	line-height: 16px;
	padding: 0 0 9px 25px;
	text-transform: uppercase;
}
#container ul li a,#content ul li a:hover,#content .module ul li a,#content .module ul li a:hover
{
	color: #71756b;
	font-weight: normal;
	line-height: 14px;
	line-height: 16px;
}
#content ul li a:hover,#content .module ul li a:hover
{
	color: #88aa4b;
}
#container ul li p
{
	line-height: 14px;
	padding: 0;
}
#container ul li span
{
	color: #000;
}
.top-line
{
	background: url(../images/border3.gif) 0 0 repeat-x;
	padding: 26px 0 0 0;
}
.img-indent
{
	float: left;
	margin: 4px 21px 0 0!important;
}
.img-indent1
{
	margin: 0!important;
}
.text3
{
	color: #21A8D0;
	font-size: 13px;
	line-height: 19px;
}
.extra-title
{
	color: #353535;
	display: block;
	font-size: 11px;
	padding: 15px 0 0 0;
	text-transform: uppercase;
}
.indent-top1
{
	margin: 11px 0 0 0!important;
}
.indent-top3
{
	padding: 37px 0 0 0;
}
.list-indent1
{
	padding-bottom: 25px!important;
}
span.small
{
	color: #9da297;
	font-size: 11px;
	line-height: 15px;
	padding: 0 0 0 2px;
}
.createdate
{
	color: #9da297;
	display: inline;
	font-size: 11px;
	line-height: 15px;
	margin: 0 0px 0px 0;
	padding: 1px 0px 5px 2px;
}
.modifydate
{
	color: #9da297;
	font-size: 11px;
	padding: 10px 0px 10px 2px;
	text-decoration: none!important;
}
.componentheading,.componentheadingPortfolio
{
	color: #393939;
	font-size: 34px;
	line-height: 32px;
	padding: 0 0 11px 0;
	text-transform: capitalize;
}
.componentheading
{
	color: #40423c;
	margin-bottom: 3px;
	padding: 4px 0 14px 0;
}
#poll
{
	padding: 0 0 0 0;
}
td.contentheading
{
	color: #1f1f1f;
	font-size: 26px;
	font-weight: normal;
	line-height: 26px;
	padding: 0 0 2px 0;
}
.contentpaneopen p
{
	padding: 4px 0px 15px 0px;
}
.buttonheading
{
	padding: 0 0 6px 0px;
}
.icon-indent
{
	padding: 2px 0 0 0;
}
.buttonheading img
{
	margin: 7px 14px 0 0;
	padding: 0;
	position: relative;
}
span.contentheading
{
	display: block;
	font-weight: normal;
	margin: 0px 0px 15px 0px;
	padding: 12px 0px 15px 0px;
}
#component-contact .contentheading
{
	color: #4c4c4c!important;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 25px;
}
.indent-more
{
	margin: 20px 0 0 0;
}
div a.readon
{
	background: url(../images/link_marker.gif) right 7px no-repeat;
	color: #d35009;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 17px!important;
	margin: 0 0 0 0;
	padding: 0 15px 0 0!important;
}
div a.readon span
{
	line-height: 11px;
}
div a.readon:hover
{
	color: #000;
	text-decoration: none;
}
.blog_more
{
	padding: 11px 0px 10px 0;
}
.blog_more strong
{
	color: #4c4c4c;
	display: block;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	padding: 15px 0 21px 0;
}
.blog_more h2
{
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}
.pagin-bottom
{
	padding-bottom: 18px;
}
.pagin-top
{
	padding-top: 11px;
}
.iteminfo
{
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 6px 0px;
}
.createdby
{
	color: #7a7a7a;
	display: block;
	text-transform: none;
}
div.small
{
	color: #7a7a7a;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 7px 0px;
	white-space: nowrap;
}
#martInfo .button
{
	width: 52px;
}
#martInfo h3
{
	color: #666565;
	display: block;
	float: left;
	font: normal 11px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	width: 71px;
}
#martInfo .moduletable
{
	text-align: right;
}
.null
{
	margin: 0!important;
	padding: 0;
}
#content .button,#content .validate,#content .readmore a
{
	background: url(../images/button_more.png) 0 0 no-repeat;
	color: #fffbd6;
	display: block;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-size: 12px;
	line-height: 23px;
	padding: 0 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 79px;
}
#content .button:hover,#content .validate:hover,#content .modal-button:hover,#content .readmore a:hover,#content div.blank a:hover
{
	color: #FFF!important;
	text-decoration: none;
}
* html .button,* html .validate
{
	display: block;
}
.wrapper-sub-title,.sub-title-wrapper
{
	background: #e9eee1;
	color: #71756b;
	padding-bottom: 8px!important;
	padding-top: 8px!important;
}
.wrapper-sub-title a,.wrapper-sub-title a:hover,.sub-title-wrapper a
{
	color: #71756b;
}
.sub-indent-table
{
	text-indent: 8px;
}
#content .button2-left
{
	float: left;
	margin-right: 5px;
}
#content .button2-left,.image
{
	display: inline;
}
#content .button2-left a:hover,#content .readmore a:hover,#content div.blank a:hover
{
	color: #ff8c0a;
}
.modal-button,.readmore a,div.blank a
{
	float: left;
	margin: 0px 1px 0px 0px;
	padding: 0 0px;
}
#editor-xtd-buttons
{
	float: left;
	overflow: hidden;
	padding: 5px 0px 5px 0px;
	width: 500px;
}
#editor-xtd-buttons .readmore
{
	display: inline;
}
.blank
{
	_padding: 11px 0px 11px 0px;
	padding: 5px 0px 0px 0px;
}
#content .button,#content .validate,#content .modal-button
{
	background: url(../images/wrapper_button.gif) 0 0 repeat-x!important;
	border: medium none;
	color: #FFF;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 23px!important;
	margin: 3px 0 11px 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 70px;
}
#content .button:hover,#content .validate:hover,#content div.blank a:hover,#content .readmore a:hover,#content .modal-button:hover
{
	color: #000!important;
}
#content .modal-button,#content div.blank a,#content .readmore a
{
	background: url(../images/wrapper_button.gif) 0 0 repeat-x!important;
	border: medium none;
	color: #FFF;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 23px!important;
	margin: 3px 0 11px 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 80px!important;
}
.pagin-top-border,.pagin-bottom
{
	text-align: center;
}
.pagenav
{
	font-weight: normal;
}
a.pagenav
{
	font-weight: normal;
	margin: 0px 2px 0px 0px;
	padding: 0px 2px 0px 2px;
	text-decoration: none;
}
a.pagenav:hover
{
	text-decoration: underline;
}
a.pagenav:visited
{
	text-decoration: none;
}
.pagination_nav
{
	font-size: 12px;
	padding: 10px 20px 0px 27px;
}
.pagination_nav div
{
	padding: 5px 0px 5px 0px;
}
.pagination
{
	margin-top: 10px;
}
.pagination li
{
	padding: 0px 5px 0px 5px;
}
.pagination_result
{
	line-height: 16px;
	padding: 5px 0px 0px 0px;
}
.pagination span
{
	padding: 0px 10px 0px 0px;
}
.pagination strong span
{
	font-weight: normal;
	padding: 0px 6px 0px 6px;
}
.searchArea
{
	border: 1px solid #c3d69c;
	margin: 15px 0 0 0;
	padding: 10px;
}
.sectiontableentry0 td,.sectiontableentry1 td,.sectiontableentry2 td
{
	border-bottom: 1px solid #c3d69c;
	border-bottom: none;
}
.sectiontableentry1 td,.sectiontableentry0 td,.sectiontableentry2 td
{
	padding-bottom: 5px;
	padding-top: 5px;
	text-indent: 11px;
}
.var1
{
	border-bottom: 1px solid #c3d69c;
	border-bottom: none;
	color: #71756b;
	margin: 5px 0px 5px 0px;
	padding: 15px!important;
}
.var1 a,.var1 p
{
	color: #71756b;
}
.var2
{
	border-bottom: 1px solid #c3d69c;
	border-bottom: none;
	color: #71756b;
	margin: 5px 0px 5px 0px;
	padding: 15px!important;
}
.var2 a,.var2 p
{
	color: #71756b;
}
.results
{
	padding: 0px 20px 15px 29px;
}
.searchintro
{
	padding: 10px 0px 10px 30px;
}
.results ol li
{
	padding: 0px 0px 10px 0px;
	text-align: justify;
}
.results h3
{
	padding-bottom: 25px;
}
#searchForm
{
	display: block;
	padding: 0 0 0 0;
}
.sectiontableheader
{
	padding: 6px 5px 6px 11px;
}
#search_searchword
{
	background: none;
	border: 1px solid #c3d69c;
	color: #40423c;
	font-size: 12px;
	height: 26px;
	line-height: 30px;
	margin: 2px 0 0 0;
	padding: 0 0 0 5px!important;
}
.indent-search-searchword
{
	display: block;
	line-height: 19px;
	padding: 4px 11px 0 0;
}
.archiveBlock .button
{
	display: inline-block;
	margin: 0px 0px 0px 5px;
}
ul#archive-list h4 a
{
	font-size: 12px;
	text-transform: none;
}
dl.poll
{
	padding: 25px 0px 35px 0;
}
.button-poll-left:hover,.button-poll-right:hover
{
	color: #000000!important;
}
.button-poll-left,.button-poll-right
{
	background: url(../images/wrapper_button.gif) 0 0 repeat-x!important;
	border: medium none;
	color: #FFF;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 23px!important;
	margin: 7px 0 11px 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 70px!important;
}
.button-poll-right
{
	margin-left: 15px!important;
}
dl.poll dt
{
	font-weight: bold;
	padding: 7px 0px 0px 0px;
}
.poll .question
{
	color: #d35009;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 0 0 5px 0;
}
.poll .poll-body
{
	padding: 9px 0px 9px 0;
}
.poll-body label
{
	color: #404245;
	font-size: 12px;
	line-height: 16px;
	padding: 0px 0px 0px 4px;
}
.poll .buttons
{
	margin: 0 0px 0 0px;
}
.poll .result
{
	background: #ffea00;
}
.poll .section
{
	color: #fff;
	overflow: hidden;
	padding: 2px 0px 2px 0px;
	width: 100%;
}
.poll .section2
{
	color: #000;
	color: #878989;
	overflow: hidden;
	padding: 2px 0px 3px 0px;
	width: 100%;
}
.poll .radio
{
	float: left;
	width: 20px;
}
.poll .radio input
{
	display: block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
.poll .var
{
	margin: 0px 0px 0px 20px;
	text-align: left;
}
.display
{
	padding: 0px 0px 10px 0px;
}
.display select
{
	border: 1px solid #46462f;
	width: 100px;
}
.sectiontableentry1 div,.sectiontableentry0 div
{
	font-size: 1px;
}
.td_1,.td_2
{
	text-align: center;
	width: 5%;
}
.td_3
{
	padding: 0px 0px 0px 10px;
	width: 90%;
}
.pollstableborder .question
{
	padding: 0px 0px 0px 85px;
}
.pollstableborder
{
	margin: 25px 0 0 0;
}
dl.contentpane dt
{
	padding: 10px 0px 20px 0px;
}
dl.contentpane dd
{
	overflow: hidden;
	width: 100%;
}
dl.contentpane div
{
	vertical-align: middle;
}
dl.contentpane .description
{
	padding: 8px 0px 0px 0px;
	width: 120px;
}
dl.contentpane .input-field
{
	padding: 2px 0px 0px 0px;
	width: 160px;
}
dl.contentpane .input-field #email
{
	background: none repeat scroll 0 0 transparent!important;
	border: 1px solid #C3D69C!important;
	color: #40423C!important;
	font-size: 12px;
	line-height: 15px!important;
	margin: 3px 0 0 0!important;
	padding: 5px 0 5px 9px;
	text-transform: capitalize;
}
dl.contentpane .button-field
{
	padding: 2px 0px 0px 0px;
	width: 140px;
}
.search
{
	height: 33px;
}
.search .search-input
{
	margin: 0 0 0 0;
	position: absolute;
}
.search .search-button
{
	margin: 0 0 0 173px;
	position: absolute;
}
.search .inputbox
{
	background: none!important;
	border: 1px solid #c3d69c!important;
	color: #40423c!important;
	font-size: 12px;
	line-height: 15px!important;
	margin: 0 0 0 0!important;
	padding: 5px 0 5px 9px;
	text-transform: capitalize;
	width: 153px;
}
.search input.button
{
	background: none!important;
	height: 27px!important;
	margin: 0 0 0 0!important;
	padding: 0!important;
	width: 63px!important;
}
.search .button:hover
{
	text-decoration: underline;
}
span.count
{
	color: #d35009!important;
	font-size: 13px!important;
	font-weight: bold;
	line-height: 18px!important;
}
.search_result
{
	padding: 0px 20px 0px 0px;
}
.search_result h3
{
	color: #808080;
	font-size: 14px;
}
.searchintro b,.searchintro strong,.highlight
{
	color: #d35009;
	font-weight: bold;
}
.adminform td
{
	padding: 0px 0px 2px 0px;
}
.pagin-bottom
{
	padding: 5px 0 15px 0;
}
.error
{
	margin: 15px 0 20px 0;
}
.message
{
	margin: 0!important;
}
#system-message dt.error,dt.message
{
	display: none;
}
.error dd ul
{
	background: #CE0303;
	border-bottom: 3px solid #670606;
	border-top: 3px solid #670606;
	color: #FFFFFF;
	margin: 0!important;
	padding: 5px 0 5px 10px!important;
}
.error dd ul li
{
	background: none!important;
	color: #fff!important;
	margin: 0px 0px 0px 20px!important;
	padding: 0!important;
}
.module_menu div
{
	color: #fff;
	font-size: 12px;
}
.module_menu ul
{
	list-style: none;
	margin: 0 0 0 0!important;
}
.module_menu li
{
	display: block;
	line-height: 14px!important;
	margin: 0!important;
	padding: 0 0 2px 0!important;
}
.module_menu li ul
{
	margin: 4px 0 4px 10px!important;
	padding: 0 0px 0 0;
}
.module_menu li ul li
{
	background: none!important;
	border: none;
	padding: 0 0 2px 0!important;
}
.module_menu li ul li a
{
	background: none!important;
	padding: 0!important;
}
.module_menu li ul li span
{
	margin: 0!important;
	padding: 2px 0 2px 0!important;
}
.module_menu li a
{
	background: url(../images/main_menu_marker.gif) 0 7px no-repeat;
	color: #fc8b00!important;
	display: block;
	line-height: 15px!important;
	padding: 2px 0px 2px 15px!important;
	text-decoration: none;
}
.module_menu li a span
{
	color: #d35009!important;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none!important;
}
.module_menu li a:hover
{
	color: #40423c!important;
	padding: 0 0px 0 0;
	text-decoration: none!important;
}
.module_menu li a:hover span
{
	color: #40423c!important;
	text-decoration: none;
}
.module_menu li.active a
{
	color: #40423c!important;
	text-decoration: none;
}
.row-top-menu
{
	margin: 285px 0 0 0;
	position: relative;
	z-index: 1;
}
#current li a
{
	color: #c5f317;
}
.row-top-menu ul.menu-nav
{
	margin: 0 0 0 0!important;
	padding: 0 0 0 0!important;
	position: relative;
	z-index: 1;
	zoom: 0;
}
.row-top-menu ul.menu-nav li,#current ul.menu-nav li
{
	display: block;
	float: left;
	margin: 0 0 0 0!important;
	padding: 0 0 0 0!important;
}
.row-top-menu ul.menu-nav li
{
	margin: 0 25px 0 0!important;
}
.row-top-menu ul.menu-nav li a
{
	background: url(../images/top_menu_left.gif) 0 0 no-repeat;
	border: none;
	color: #727969;
	display: block;
	float: left;
	font-size: 25px;
	line-height: 35px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-decoration: none!important;
}
.row-top-menu ul.menu-nav li a span,.row-top-menu ul.menu-nav li a strong
{
	background: url(../images/top_menu_right.gif) top right no-repeat;
	display: block;
	float: left;
	padding: 2px 30px 2px 30px;
	position: relative;
	text-align: left;
	text-decoration: none;
}
.row-top-menu ul.menu-nav li a:hover,.row-top-menu ul.menu-nav li#current a
{
	background: url(../images/top_menu_left1.gif) 0 0 no-repeat;
	color: #FFF;
}
.row-top-menu ul.menu-nav li a:hover span,.row-top-menu ul.menu-nav li a:hover strong,.row-top-menu ul.menu-nav li#current a span,.row-top-menu ul.menu-nav li#current a strong
{
	background: url(../images/top_menu_right1.gif) top right no-repeat;
	color: #FFF;
}
.row-top-menu ul.menu-nav li a:hover,.row-top-menu ul.menu-nav li#current a,.row-top-menu ul.menu-nav li#current a span,.row-top-menu ul.menu-nav li#current a strong
{
	color: #FFF;
}
.module-login .moduleTopBg
{
	width: 100%;
}
.module-login .sec
{
	width: 100%;
}
.module-login .boxIndent
{
	padding: 0 0px 0 0;
}
.login-text-1
{
	color: #3b3b3b;
	font-size: 12px;
	line-height: 14px;
}
.form-height
{
	height: 30px;
	margin: 0 0 0 0;
}
#form-login
{
	padding: 0px 0px 0px 15px;
}
#form-login-remember
{
	padding: 11px 0px 0 0px;
}
.module-login label
{
	color: #71756b;
	display: block;
	font-size: 13px;
	line-height: 13px;
	padding: 0px 0px 3px 0;
	width: 100%;
}
label.remember
{
	color: #645851!important;
	display: inline;
	font-weight: normal;
	margin: 0 0 0 0;
}
.module-login p,.module-login div,label.remember
{
	color: #71756b!important;
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 0 0;
}
.logo-title
{
	color: #000!important;
	display: block;
	font-size: 14px!important;
	font-size: 15px;
	line-height: 35px;
	padding-bottom: 21px!important;
}
.remember
{
	padding: 0!important;
}
#mod_login_username,#mod_login_password
{
	margin: 0px 0px 0px 0px;
}
.module-login a,.module-login a:hover
{
	color: #d35009!important;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 0px 0px 0px 0px;
}
.module-login .inputbox
{
	background: none!important;
	border: 1px solid #c3d69c!important;
	color: #000;
	font-size: 12px;
	line-height: 15px!important;
	margin: 1px 0 0 0!important;
	padding: 2px 0 2px 3px;
	width: 212px;
}
#modlgn_username,#modlgn_passwd
{
	float: left;
}
.username label,.password label
{
}
.remember
{
	padding: 4px 0px 0px 0px;
}
input.checkbox
{
	border: none;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 8px 0px 0;
	position: relative;
	vertical-align: middle;
	width: 16px;
}
.button-login:hover,.log .button:hover
{
	color: #292a26!important;
}
.button-login,.log .button
{
	background: url(../images/wrapper_button.gif) 0 0 repeat-x!important;
	border: medium none;
	color: #FFF;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	height: 27px;
	line-height: 23px!important;
	margin: 7px 0 11px 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 70px!important;
}
#inputs
{
	padding: 6px 11px 14px 0;
}
.log
{
	display: block;
	overflow: hidden;
	width: 100%;
}
#body
{
	background: #e6ecdd;
}
.main
{
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	width: 969px;
}
#logo
{
	display: block;
	padding: 148px 0 0 0;
	position: absolute;
}
#logo a
{
	cursor: pointer;
	display: block;
	position: relative;
}
.clear
{
	overflow: hidden;
	width: 100%;
}
.clear1
{
	clear: both;
}
.br
{
	display: block;
}
.fright
{
	float: right!important;
}
.fleft
{
	float: left;
}
.header-slider
{
	height: 350px;
}
.tail-content
{
	background: #f0f6e8 url(../images/tail_content.jpg) 0 0 repeat-x;
}
.bg-content-center
{
	background: url(../images/bg_content_center.jpg) center top no-repeat;
}
.header
{
	height: 351px;
	position: relative;
	z-index: 2;
}
.moduletable
{
	position: relative;
	z-index: 1;
}
.row-top-menu
{
	position: absolute;
}
#content
{
	padding: 0px 0 0px 0;
}
#container
{
	overflow: hidden;
	padding: 0 0 0 0;
	text-align: left;
}
#right
{
	float: right;
	text-align: left;
	width: 319px;
}
.right-indent
{
	padding: 0 0 0 27px;
}
.custom-box
{
	padding-bottom: 62px;
}
.custom-box .col-1
{
	width: 291px;
}
.custom-box .col-2
{
	margin: 0 0 0 70px;
	width: 274px;
}
.custom-box .col-1 .custom-title
{
	background: url(../images/title_img_1.png) 100px 0 no-repeat;
	padding-left: 11px;
}
.custom-box .col-2 .custom-title
{
	background: url(../images/title_img_2.png) 88px 0 no-repeat;
	padding-left: 35px;
}
.custom-title
{
	color: #959c8c;
	display: block;
	font-size: 58px;
	line-height: 58px;
	padding: 81px 0 11px 0;
}
.box-banner
{
	padding: 29px 0 0 0;
}
.box-banner img
{
	margin: 20px 0 0 0!important;
}
.wrapper-box
{
	padding: 0 0 0 21px;
}
.wrapper-box .boxTitle h3
{
	color: #40423c;
	font-size: 28px;
	line-height: 28px;
	padding: 4px 0 0 0;
}
.wrapper-box .boxIndent
{
	padding: 21px 0 41px 0;
}
.article-title-text
{
	color: #40423c;
	font-size: 12px;
	line-height: 29px;
	padding: 4px 0 13px 0;
}
.footer-tail
{
	border-top: 1px solid #d3d9cb;
}
.footer-bg-center
{
	background: url(../images/footer_wrapper.jpg) bottom center repeat-x;
	padding: 27px 0 88px 0;
}
.footer .fright
{
	width: 270px;
}
.footer .fleft
{
	width: 485px;
}
.footer-top-menu ul
{
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.slider-wrapper{
margin-left:-50px;
}
.footer-top-menu ul li
{
	background: url(../images/footer_marker.gif) 5px 4px no-repeat;
	display: block;
	float: left;
	margin: 0 0 0 -15px;
	padding: 0 15px;
}
.footer-top-menu ul li a
{
	color: #71756b;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
}
.footer-top-menu ul li a strong
{
	font-weight: normal!important;
}
.footer-top-menu ul li a:hover
{
	color: #d79133;
}
.footer-box,p
{
	color: #71756b;
	font-size: 13px;
	
}
.indent-none
{
	padding: 2px 0!important;
}
.footer .indent-text
{
	padding-left: 9px;
}
.footer-text
{
	color: #888d82;
	display: block;
	font-size: 13px;
	line-height: 16px;
	padding: 5px 0 0 0;
}
.footer-text a,.footer-text a:hover
{
	color: #d79133;
	font-size: 13px;
}
.paramlist .paramlist_key
{
	width: 337px!important;
}
.article-text-indent
{
	padding: 22px 0 22px 0;
}
.custom-link
{
	background: url(../images/link_marker.gif) right 6px no-repeat;
	color: #d35009;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
	margin: 18px 0 0 0;
	padding: 0 15px 0 0;
}
.custom-link:hover
{
	color: #000;
}
.ulwrapper
{
	background: #f0f6e8;
	display: none;
	margin: 44px 0 0 0px!important;
	margin: 44px 0 0 -147px!important;
	padding: 0 0 0 0;
	position: absolute;
	width: 146px!important;
}
.ulwrapper ul
{
	margin: 0!important;
	width: 146px;
}
.parent .ulwrapper ul li,.parent .ulwrapper ul li a,.parent .ulwrapper ul li a strong
{
	background: none!important;
	color: #727969!important;
	float: none!important;
	font-size: 12px!important;
	font-weight: normal;
	height: auto!important;
	line-height: 18px;
	margin: 0!important;
	width: auto!important;
}
.ulwrapper .ulwrapper
{
	display: none;
	margin: -25px 0 0 145px!important;
	margin: -27px 0 0 146px!important;
	padding: 0 0 0 0;
	position: absolute;
}
.ulwrapper .ulwrapper .ulwrapper
{
	display: none;
	padding: 0 0 0 0;
	position: absolute;
}
.ulwrapper ul li a
{
	color: #727969!important;
	padding: 4px 4px 4px 19px!important;
	text-transform: capitalize!important;
}
.ulwrapper ul li a strong
{
	color: #727969!important;
	display: block;
	margin: 0!important;
	padding: 0!important;
}
.ulwrapper ul li a:hover
{
	background: #c3d69c!important;
}
.ulwrapper ul li a:hover,.ulwrapper ul li a:hover strong
{
	color: #727969!important;
}
ul.pagination
{
	list-style: none;
	margin: 264px 0 0 675px;
	padding: 0;
	position: absolute;
}
ul.pagination li
{
	float: left;
}
ul.pagination li.current a
{
	background: #fc8b00;
}
.row-slider
{
	background: #c3d69c;
	height: 350px;
	margin: 0 0 0 27px;
	width: 915px;
}
#faded
{
	padding: 7px;
}
#faded ul
{
	list-style: none;
	margin: 0 0 0 0;
	position: absolute;
}
a
{
	border: 0;
	outline: 0;
}
ul.pagination
{
	display: none;
}
.prev,.next
{
	display: block;
	font-size: 0;
	height: 73px;
	line-height: 0;
	position: absolute;
	text-indent: -3000px;
	width: 27px;
}
.prev
{
	background: url(../images/slider_button_left.png) 0 0 no-repeat;
	margin: 127px 0 0 -34px;
}
.next
{
	background: url(../images/slider_button_right.png) 0 0 no-repeat;
	margin: 128px 0 0 908px;
}
.slider-box
{
	display: block;
}
.slider-box .col-1
{
	display: block;
	width: 588px;
}
.slider-box .col-2
{
	background: url(../images/slider_wrapper_text.jpg) 0 0 repeat-y;
	display: block;
	height: 336px;
	margin: 0 0 0 7px;
	width: 306px;
}
.footer .ulwrapper
{
	display: none;
}
.img-none
{
	display: none;
}
.slider-box .col-2 span
{
	color: #e9f1de;
	display: block;
	font-size: 13px;
	line-height: 17px;
}
.slider-box .indent-box
{
	padding: 50px 22px 0 17px;
	text-align: right;
}
.title-text
{
	font-size: 31px!important;
	line-height: 31px;
	padding: 0 0 19px 0;
}
.slider-text1
{
	color: #e9f1de;
	font-size: 18px!important;
	line-height: 18px!important;
}
.slider-text2
{
	padding: 1px 0 28px 0;
}
.slider-text4
{
	padding: 20px 0 0 0;
}
.slider-text4 a
{
	background: url(../images/slider_wrapper_button.png) 0 0 no-repeat;
	color: #292a26;
	display: block;
	float: right;
	font-size: 13px;
	font-weight: normal;
	height: 23px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	width: 208px;
}
.slider-text4 a:hover
{
	color: #FFF;
}
.article-title-text a
{
	color: #40423c!important;
	text-decoration: none;
}
.article-title-text a:hover
{
	color: #8cad51!important;
}
.clear1
{
	clear: both;
}
.footer .ulwrapper
{
	display: none!important;
}